.header {
    position: relative;
    /* display: flex; */
    /* align-items: center; */
}

.h1 {
    text-align: center;
}

.arrow-left {
    display: block;
    position: absolute;
    top: -1rem;
    /* left: -1.5rem; */
    left: 0;


    img {
        width: 2rem;
    }

    @media (max-width: 500px) {
        top: -1rem;
        left: -0.5rem;
    }
}

.github-link {
    display: block;
    position: absolute;
    top: -1rem;
    /* right: -1.5rem; */
    right: 0;

    @media (max-width: 500px) {
        top: -1rem;
        right: -0.5rem;
    }
}