.header {
    position: relative;
    /* display: flex; */
    /* align-items: center; */
}

.h1 {
    text-align: center;
}

.arrow-left {
    display: block;
    position: absolute;
    top: -1rem;
    left: -1.5rem;

    img {
        width: 2rem;
    }
}

.github-link {
    display: block;
    position: absolute;
    top: -1rem;
    right: -1.5rem;
}