.skill-row {

    /* color: red; */
    /* span {} */
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.3rem;
}

.skill-icon {
    width: 1rem;
}

.skill-name {
    display: block;
    width: 150px;
    font-size: 1.1rem;
}

.skill-career {
    display: block;
    width: 3rem;
    /* width: 200px; */
}

.bind-width {}

.popover-trigger {
    cursor: pointer;
    background-color: #444;
    border-radius: 0.25rem;
}

/* .popover-content {
    --radix-popover-trigger-width: 200px;
    width: var(--radix-popover-trigger-width);
    max-height: var(--radix-popover-content-available-height);
} */